
<div *ngFor = "let picture of pictures; let i = index"class="spaceOnTop">
 
    <div  class="card mx-auto" style="width: 40rem;">
        <div class="card-header">
       {{picture.name | titleCase}}
     </div>
 
     <img class="card-img-top" src="{{picture.url}}" alt="Card image cap">
 
     <div class="card-body">
       <ul class="list-group list-group-flush">
         <li class="list-group-item">
           <i *ngIf="picture.reactions.like>0" class="fa fa-thumbs-up">{{picture.reactions.like}}</i>
           <i *ngIf="picture.reactions.love>0" class="fa fa-heart">{{picture.reactions.love}}</i>
           <i *ngIf="picture.reactions.dislike>0" class="fa fa-thumbs-down">{{picture.reactions.dislike}}</i>
         </li>
 
         <li class="row">
           <div class="col-md-6 text-center dropdown">
             <a id="reactionDropdown" data-placement="top" role="button" aria-haspopup="true" aria-expanded="false" [style.color]="getStyleColor(i)" (click)="onReactionClicked(i)">
                <i class="{{pictureStates[i].selectedReactionItem.iconClassName}}">{{pictureStates[i].selectedReactionItem.name}}</i>
             </a>
             <div class="dropdown-menu" aria-labelledby="reactionDropdown">
               <div style="display:flex;" class="dropdown-items">
                 <a class="dropdown-item" (click)="onLikeClicked(i)">
                   <i class="fa fa-thumbs-up fa-2x"></i>
                 </a>
                 <a class="dropdown-item" (click)="onLoveClicked(i)">
                   <i class="fa fa-heart fa-2x"></i>
                 </a>
                 <a class="dropdown-item" (click)="onDislikeClicked(i)">
                   <i class="fa fa-thumbs-down fa-2x"></i>
                 </a>
               </div>
             </div>
           </div>
 
           <div class="col-md-6 text-center">
             <a href="#" [style.color]="'black'">
               <i class="fa fa-comment">Comment</i>
             </a>
           </div>
         </li>
       </ul>
     </div>
   </div>
  </div>